<div class="row">
  <div class="col-5 col-md-3 logo">
    <a href="/">
      <img
        src="../../../../../assets/svg/beetle.svg"
        alt="Beetle Icon"
        class="logoIcon"
      />
      <span class="logoText"> Beetle </span>
    </a>
  </div>
  <div class="col-4 col-md-6 desc">
    <h2>Projects</h2>
    <p>Some random text regarding the tab you are in</p>
  </div>
  <div class="col-3 col-md-3 profile">
    <div class="profileBox">
      <div class="row">
        <div class="col-3 col-md-1 col-lg-2 col-xl-3"></div>
        <div class="col-8 col-md-10 col-lg-9 col-xl-8">
          <mat-card class="box boxAddon mat-elevation-z4">
            <mat-card-title>
              <a href="/">
                <img
                  src="../../../../../assets/svg/user.svg"
                  alt="User Icon"
                  class="userIcon"
                />
                <span class="userText"> Utkarsh@1508 </span>
                <img
                  src="../../../../../assets/svg/caret.svg"
                  alt="Caret Icon"
                  class="userCaret"
                />
              </a>
            </mat-card-title>
          </mat-card>
        </div>
        <div class="col-1 col-md-1 col-lg-1 col-xl-1"></div>
      </div>
    </div>
    <div class="profileIcons">
      <div class="row">
        <div class="col-12 d-flex justify-content-cente">
          <a href="/">
            <img
              src="../../../../../assets/svg/hamburger.svg"
              alt="Hamburger Icon"
              class="hamburgerIcon"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
